html,
body {
  position: relative;
  height: 100%;
  color: #303030;
}

div {
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  padding: 43px 249px 0 165px;

  display: flex;
  justify-content: space-between;
}

.swiper-button-prev, .swiper-button-next {
  width: 64px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: ' ';
  background-image: url('../svg/arrow.svg');
  background-repeat: no-repeat;
  height: 112px;
  width: 100%;
  transition: .5s;
}
.swiper-button-next::after {
  transform: rotate(180deg);
}
.swiper-button-next:hover.swiper-button-next::after {
  transform: rotate(180deg) translateX(-10px);
}
.swiper-button-prev:hover.swiper-button-prev::after {
  transform: translateX(-10px);
}

.arrows__small-prev {
  position: relative;
  display: inline-block;
  border: 13px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(45deg);
  bottom: 532px;
  left: 14px;
  opacity: .5;
}
.arrows__small-prev::before {
  position: absolute;
  content: '';
  border: 6.5px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  bottom: -41px;
  left: 11px;
  opacity: .5;
}
.arrows__small-prev::after {
  position: absolute;
  content: '';
  border: 4px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  bottom: -36px;
  left: 1px;
  opacity: .5;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 0;
  border: 1px solid #fff;
  background-color: transparent;
  
  opacity: 1;
  margin-bottom: 41px!important;
  /* transition: .5s; */
}
.swiper-pagination-bullet:not(:first-child).swiper-pagination-bullet:not(:last-child) {
  margin-left: 12px!important;
  margin-right: 12px!important;
}

.swiper-pagination-bullet-active {
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.header {
  width: 100%;
  border-top: 24px solid #C4C4C4;
  padding: 35px 0;
  text-align: center;
}
.header__title {
  font-family: 'Roboto-700';
  text-transform: uppercase;
  font-size: 20px;
}

.img {
  width: 548px;
}

.column__left,
.column__right {
  text-align: left;
  width: 338px;
  transition: .9s;
}

.fade-animation {
  animation: fade-animation 5500ms ease-out 0s forwards ;
}
@keyframes fade-animation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.column__title {
  margin-top: 44px;
  font-family: 'Roboto-300';
  font-weight: 200;
  font-size: 39px;
  line-height: 45px;
  text-transform: uppercase;
}
.column__text {
  font-family: 'Roboto-500';
  font-size: 24px;
  line-height: 110%;
}
.column__counter {
  margin-top: 144px;
  position: relative;
  display: block;
  font-family: 'Roboto-500';
  font-size: 120px;
  line-height: 155px;
}
.column__counter_small {
  font-size: 48px;
  line-height: 62px;
}

.color_turquoise {
  background-color: #80CBC4;
}
.color_transparent {
  background-color: transparent;
}  


/* Шрифты */

@font-face{
  font-family: 'Roboto-300';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Roboto-300/Roboto-300.woff') format('truetype');
}

@font-face{
  font-family: 'Roboto-400';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Roboto-400/Roboto-400.woff') format('truetype');
}

@font-face{
  font-family: 'Roboto-500';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Roboto-500/Roboto-500.woff') format('truetype');
}

@font-face{
  font-family: 'Roboto-700';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Roboto-700/Roboto-700.woff') format('truetype');
}
@font-face{
  font-family: 'Roboto-900';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Roboto-900/Roboto-900.woff') format('truetype');
}